@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	@apply min-h-screen bg-black-blue;
	padding: 0;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.custom-scrollbar {
	scrollbar-width: thin;
	scrollbar-color: rgba(0, 0, 0, 0.5) transparent;
  }
  
  /* Firefox */
  .custom-scrollbar::-webkit-scrollbar {
	width: 12px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
	background: transparent;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 6px;
	border: 3px solid transparent;
	background-clip: padding-box;
  }

  .custom-button {
	font-family: "Helvetica, Arial, sans-serif";
	font-weight: 500;
	font-size: 17px;
	color: #F8F8F8;
	line-height: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #2596BE;
	border-radius: 20px;
	gap: 10px;
	width: auto;
	transition: background-color 0.3s ease; /* Smooth transition for the background color */
  }
  
  .custom-button:hover {
	background-color: #165e80; /* Slightly darker shade of the original background color */
  }

/* Fonts */

/* Scroll to top style */
.scrollToTop {
	@apply bg-indigo-600;
	@apply text-white;
	position: fixed;
	width: 100%;
	align-items: center;
	height: 20px;
	justify-content: center;
	z-index: 999;
	cursor: pointer;
	animation: fadeIn 0.3s;
	transition: opacity 0.4s;
	opacity: 1;
}

.scrollToTop:hover {
	opacity: 1;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 0.5;
	}
}
.open-sans {
  font-family: 'Open Sans', sans-serif;
}
.orbitron {
  font-family: 'Orbitron', sans-serif;
}